{% extends "base.html" %}
{% block title %}Login - Crimson Claw Studio{% endblock %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/imask@7.4.0"></script>
{% endblock %}

{% block content %}
<div class="container">
    <form id="formLogin" class="form-login" action="'/login" method="post">
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" class="form-control"
            value="{{email}}" required>
        </div>
        <div class="form-group">
            <label for="password"> Senha *</label>
            <input for="password" id="password" name="password"
            class="form-control"
            placeholder="******" value="{{password}}" required>
        </div>
        {% if error %}
        <div>
            <p style="color: red;">{{ error}} </p>
        </div>
        {%endif%}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Logar</button>
            <a href="/" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
    <div class="cadastro-link">
        <p> Não tem conta? <a href="/cadastro"> Criar Conta</a></p>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/form-mask.js"></script>
{% endblock %}